body, .input {
  font: 16px sans-serif;
}

body {
  margin-inline: auto;
  max-width: 800px;
  width: 90%;
}

.input {
  box-sizing: border-box;
  margin-top: 15%;
  padding: 5px 8px;
  width: 100%;
}

.output-label, .output {
  display: block;
}

.output-label {
  margin-top: 16px;
}
